@font-face {
    font-family: Billie;
    src: url(/Fonts/Tinos-Italic.ttf);
}
body{
    background-color: #8d6e51;
    font-size: 16px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Billie;
}
a{
    text-decoration: none;
    color: white;
}
header nav{
    background: url(/image/hbg.jpg) center/cover no-repeat;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .left img{
    width: 190px;
    height: 50px;
}
header nav .left img:hover{
    cursor: pointer;
}
header nav .center a{
font-style: italic;
font-size: 1.2em;
margin-right: 29px;
font-family: Billie;
}
header nav .center a:hover{
    color: #d3c29a;
}

header nav .right a{
    font-size: 1.2em;
    margin-right: 10px;
    color: #d3c29a;
}
header nav .right a:hover{
    color: white;
}
/*Main*/
/*YouTube*/
main .iframes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
main .youtube{
margin-top: 25px;
}
main .iframes span{ 
    color: white;
    margin-top: 60px;
    font-size: 1.4em;
  
    font-style: italic;
}
/*Album Section (image)*/
main .banner{
    width: 1100px;
    height: 578px;
    margin-left: 220px;
    margin-top: 60px;
    text-align: center;
}
main .banner:hover{
    cursor: pointer;
    
}
main .banner img{
    border: 5px solid white;
}

main .happier-than-ever-album{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .happier-than-ever-album img{
    width: 560px;
   
}
main .happier-than-ever-album .name{
    margin-top: 20px;
    color: white;
    font-size: 1.5em;
    font-style: italic;
}
main .happier-than-ever-album .listen{
margin-top: 20px;
color: #d3c29a;
letter-spacing: 4px;
}
section .title{ 
   max-width: fit-content;
   margin-left:550px;
    margin-top: 150px;
    font-size: 1.7em; 
    font-weight: bold;
    color:#8d6e51;
    background-color: #d3c29a;
    letter-spacing: 20px;
    padding: 0px 40px;   
}
/*tours section*/
section .tours{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: 600px;
    gap: 130px;
}

section .tours .times {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    margin-left: 250px;   
}
section .times .month{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 25px;
    color: white;
    font-size: 1.1em;
    min-width: 50px;
    max-width: 50px;
    background-color: rgba(211, 194, 154, 0.3);
}
section .times .month:hover{
    background-color: rgba(211, 194, 154, 0.6);
    cursor: pointer;
}

section .places{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

section .places .location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 35px;
    text-align: center;
    color: white;
}
section .places .location span{
    margin-top: 3px;
    font-size: 1.42em;
}
section .places .location span:hover{
    color: #d3c29a;
}
section .places .location a{
    color: #d3c29a;
    font-size: 1.1em;
}

/*Slider Banner*/
main .slider {
    text-align: center;
}
main .slider img{
    margin-top: 200px;
    width: 90%;
    height: 280px;
}
/*section Store*/
section .title1{ 
   max-width: fit-content;
   margin-left:650px;
   text-align: center;
    margin-top: 150px;
    font-size: 1.7em; 
    font-weight: bold;
    color:#8d6e51;
    background-color: #d3c29a;
    letter-spacing: 20px;
    padding: 0px 2px 0px 20px;  
}
section .product{
    margin-top: 90px;
    display: flex;
    margin-left: 70px;
}
section .item{
    display: flex;
    flex-direction: column;
     margin-left: 40px;
}
section .item .image-product img{
width: 300px;
}
section .item .desc{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}
section .item .desc span{
color: #d3c29a;
font-size: 1.42em;
cursor: pointer;
}
section .item .desc a{
    color: #d3c29a;
    margin-top: 8px;
    font-size: 0.9em;
}

section .shop-all button{
  margin: 110px 624px;
  padding: 15px 70px;
  color: #d3c29a;
  background-color: #8d6e51;
  border: 2px solid #D3C29A;
  font-family: Bille;
  font-style: italic;
  font-size: 1em;
  outline: none;
}
section .shop-all button:hover{
    background-color: #D3C29A;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: white;
    padding: 20px;
    width: 1200px;
    min-height: 80vh;
}
section .container h2{
    margin-top: 70px;
color: #8d6e51;
letter-spacing: 9px;
}

section .container .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section .container .form .row-flex{
    margin-top: 60px;
display: flex;
align-items: center;
column-gap: 30px;

}
section .container .form .row-flex .input-box{
display: flex;
flex-direction: column;
}

section .container .form .row-flex .input-box label{
color:#D3C29A;
letter-spacing: 3px;
}
section .container .form .row-flex .input-box label span{
color: red;
}

section .container .form .row-flex .input-box input 
,section .container .form .row-flex .input-box select
{
margin-top: 4px;
border: none;
color: #D3C29A;
border-bottom: 2px solid #D3C29A;
width: 250px;
outline: none;
font-style: italic;
    font-weight: bold;
}

section .container .form .required{
font-size: 0.7em;
margin-top: 20px;
letter-spacing: 2px;
color: rgb(178, 176, 176);
}
section .container .form .agree-email{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
}
section .container .form .agree-email .sub{
 letter-spacing: 3px;
 color: rgb(178, 176, 176);
 font-style: italic;  
 font-size: 1.1em;
}
section .container .form .agree-email .checkbox{
    color: #D3C29A  ;
}
section .container .form .agree-email .checkbox:hover{
    cursor: pointer;
}

section .container .form .agree-email .checkbox span{
    letter-spacing: 3px;
    font-size: 1em;
    text-decoration:underline;
}
section .container .form .texts{
display: flex;
flex-direction: column;
gap: 0px;
margin-top: 10px;
align-items: center;

}
section .container .form .texts .p  {
    margin: 0;
    margin-top: 15px;
    color: #8d6e51;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
}
section .container .form .texts .privacy {
    margin: 0;
    margin-top: 4px;
    font-size: 0.8em;
    color: gray;
}
section .container .form .texts .privacy:hover{
    cursor: pointer;
}

section .container .form button{
    margin-top: 50px;
    padding: 20px 60px;
    background-color: white;
    border: 2px solid #D3C29A;
    color: #D3C29A;
    font-style: italic;
    letter-spacing: 3px;
}

section .container .form button:hover{
    background-color:#D3C29A;
color: white;
}
/*footer*/
footer .logos{
    margin-top: 40px;
    text-align: center;
}
footer .logos a{
    font-size: 1.2em;
    margin-right: 15px;
    color: #d3c29a;
}
footer .logos a:hover{
    color: white ;
}
footer .copy-right{
    margin-top: 10px;
    text-align: center;
    margin-bottom:15px;
}
footer .copy-right a{
    font-size: 1em;
    margin-right: 15px;
    color: #d3c29a;
}
footer .copy-right a:hover{
    color: white;
}