@font-face {
    font-family: Billie;
    src: url(/Fonts/Tinos-Italic.ttf);
}

body{

    background-color: #8d6e51;
    font-size: 16px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Billie;
}
a{
    text-decoration: none;
    color: white;
}
header nav{
    background-color: #7e674d;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .left img{
    width: 190px;
    height: 50px;
}
header nav .left img:hover{
    cursor: pointer;
}
header nav .center a{
font-style: italic;
font-size: 1.2em;
margin-right: 25px;
font-family: Billie;


}
header nav .center a:hover{
    color: #d3c29a;
}

header nav .right a{
    font-size: 1.2em;
    margin-right: 10px;
    color: #d3c29a;
}
header nav .right a:hover{
    color: white;
}
main .banner{
    margin-top: 80px;
    text-align: center;
}
main .banner img{
    border: 5px solid white;
}
main .happier-than-ever-album{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .happier-than-ever-album img{
    width: 560px;
   
}
main .happier-than-ever-album .name{
    margin-top: 20px;
    color: white;
    font-size: 1.5em;
    font-style: italic;
}
main .happier-than-ever-album .listen{
margin-top: 20px;
color: #d3c29a;
letter-spacing: 4px;
}

main .slider {
    text-align: center;
}
main .slider img{
    margin-top: 500px;
    width: 90%;
    height: 280px;
}
.title{
    display: flex;
    align-items: center;
    margin-top: 150px;
    font-size: 1.7em; 
    font-weight: bold;
    color:#8d6e51;
    background-color: #d3c29a;
    letter-spacing: 20px;
    max-width: fit-content;
    padding: 0px 40px;
    text-align: center;
    margin-left:550px;
